@import "compass/utilities/general/clearfix";
@import "compass/css3/transition";

$mainColor: darkorange;
$bgColor: #eee;
$animDuration: 0.1s;
$animTiming: linear;

.jsparsons-editor {
  color: dodgerblue;
}
.jsparsons-editor-container {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  * {
    box-sizing: border-box;
  }
  h2 {
    color: $mainColor;
    margin-bottom: 0;
  }
  ul {
    margin: 0;
  }
  textarea {
    width: 100%;
  }
  .jsparsons-component-container {
    display: flex;
    flex-direction: row;
  }
  .jsparsons-component {
    width: 50%;
    padding: 0 1rem;
    @include transition(width, $animDuration, $animTiming);
    background-color: $bgColor;
  }
  .jsparsons-left {
    margin-right: 0.5rem;
  }
  .jsparsons-right {
    margin-left: 0.5rem;
  }
  .jsparsons-executable-editor {
    select {
      margin: 0 0 0 0.5rem;
    }
    textarea.jsparsons-python {
      background: repeating-linear-gradient(
                -45deg,
                $bgColor,
                $bgColor 10px,
                #fee 10px,
                #fee 20px
              );
    }
  }
  &.jsparsons-line-editor .jsparsons-codelines {
    width: 100%;
    margin-right: 0;
  }
  .jsparsons-mode-editor {
    clear: left;
    /*.jsparsons-unit-editor, */.jsparsons-varcheck-editor {
      padding: 0 1rem;
      background-color: $bgColor;
    }

    .fa {
      color: forestgreen;
      padding-right: 0.5rem;
    }
    .jsparsons-unit-editor {
      p {
        padding: 0.5rem;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  table {
    width: 100%;
    td {
      vertical-align: top;
    }
    input {
      width: 100%;
    }
    .jsparsons-varchecks input {
      width: 50%;
    }
  }
}
.jsparsons-mode-choice ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    width: 50%;
    cursor: pointer;
    position: relative;
    background-color: $bgColor;
    padding: 0.5rem 1rem 0.5rem 3rem;
    @include transition(background-color, $animDuration, $animTiming);

    span {
      left: -0.5rem;
      @include transition(left, $animDuration, $animTiming);
    }
    h4 {
      margin: 1rem 0 0 -1rem;
      @include transition(margin, $animDuration, $animTiming);
    }
  }
  li.selected {
    background-color: $mainColor;
    h4 {
      margin-left: 1rem;
    }
    .fa {
      position: absolute;
      left: 0.5rem;
    }
  }
}
.jsparsons-varcheck-editor {
  p {
    margin-bottom: 0;
  }
  .jsparsons-varcheck-codes {
    display: flex;
  }
  .jsparsons-component {
    padding: 0;
  }
  .jsparsons-varcheck {
    padding: 0.1rem 0 0.5rem 0;
    border-bottom: 2px solid #fff;
  }
  .jsparsons-varchecks > div {
    display: flex;
    margin-top: 0.5rem;
    & input, & textarea {
      margin-right: 0.5rem;
    }
    input, select {
      min-width: 130px;
    }
  }
}

.jsparsons-preview {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  overflow: auto;
  &.visible {
    display: block;
  }
  .jsparsons-container {
    display: flex;
  }
  .jsparsons-source {
    width: 40%;
  }
  .jsparsons-target {
    width: 60%;
  }
  .jsparsons-buttons div {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid black;
    background-color: $mainColor;
    color: white;
  }
}
.jsparsons-turtle-model {
  textarea {
    width: calc(100% - 7.5rem);
  }
}
.jsparsons-modelturtle {
  float: right;
  height: 6.25rem; // 100px / 16px
  width: 7.5rem;   // 120px / 16px

  &:empty:before {
    content: "Click to run";
    display: block;
    width: 100%;
    height: 100%;
  }
}
.jsparsons-test-button {
  font-size: 2rem;
  text-align: center;
  color: white;
  background-color: $mainColor;
  padding: 1rem;
  margin-top: 0.5rem;
  &:active {
    @include transition(color, $animDuration, $animTiming);
    color: black;
  }
}
.jsparsons-preview__header {
  align-items: center;
  position: relative;
  background-color: $mainColor;
  color: white;
  padding: 0.5rem;
  display: flex;
}
.jsparsons-preview__title {
  margin: 0;
  text-align: center;
  width: 100%;
}
.jsparsons-preview__link {
  color: #fff;
  text-decoration: none;
}
.jsparsons-exercise-config__container {
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: white;
}
.jsparsons-exercise-config__close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.jsparsons-exercise-config__code {
  height: calc(100% - 2.5rem);
  margin: 0.5rem;
  overflow: auto;
}
